@import "tailwindcss";

:root {
  --background: #e0e2c7;
  --foreground: oklch(14.5% 0 0);
  --accent: #003b00;
  --shadow: #b9bb9e;
  --board: #72745a;
  --toggle: #b9bb9e;
  --lightsquare-empty: #e0e2c7;
  --lightsquare-filled: #93d88b;
  --darksquare-empty: #b9bb9e;
  --darksquare-filled: #66a966;
  --queen: #003b00;
  --queen-hover: oklch(14.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-shadow: var(--shadow);
  --color-board: var(--board);
  --color-toggle: var(--toggle);
  --color-lightsquare-empty: var(--lightsquare-empty);
  --color-lightsquare-filled: var(--lightsquare-filled);
  --color-darksquare-empty: var(--darksquare-empty);
  --color-darksquare-filled: var(--darksquare-filled);
  --color-queen: var(--queen);
  --color-queen-hover: var(--queen-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #1a1a16;
  --foreground: #dadada;
  --accent: oklch(76.8% 0.233 130.85);
  --shadow: black;
  --board: #5f5f4e;
  --toggle: #35352b;
  --lightsquare-empty: #35352b;
  --lightsquare-filled: #2d4a1e;
  --darksquare-empty: #1e1e17;
  --darksquare-filled: #1a3310;
  --queen: oklch(76.8% 0.233 130.85);
  --queen-hover: #dadada;
}

body {
  background: var(--background);
  color: var(--foreground);
}
